// 'satu' means saturated color

// red
$red: #f44a51;

// pink
$light-rose: #f0c5d5; // #facedf;
$light-coral: #f0c5bb; // #f9cdcc;

// blue
$ultra-light-blue: #f9f9fb; // #fbfaff

// purple
$purple: #9494d1;
$purple-100: #a59ed8;
$purple-200: #b6a7df;
$purple-300: #c7b1e6;
$purple-400: #d8bbed;
$purple-500: #e9c4f4;
$light-satu-violet: #efc5f0; //#facefb;
$ultra-dark-purple: #2e2e52; // #3d3d6c;

// gray
$light-gray: #aaaaaa;
$mid-gray: #00000080;
$extra-dark-gray: #595959;

// theme
$theme-color: $purple;
