// blue
$ultra-light-blue: #f9f9fb; // #fbfaff

// purple
$purple: #9494d1;
$ultra-dark-purple: #2e2e52; // #3d3d6c;

// gray
$mid-gray: #00000080;
$extra-dark-gray: #595959;

// theme
$theme-color: $purple;
