@import "./color";

$font-size-md: 14px;

.text-theme {
  color: $theme-color !important;
}

.text-theme-md {
  color: $theme-color !important;
  font-size: $font-size-md;
}

.text-main-title {
  font-size: 24px; // font size of <Typography.Text level={3}/>
  font-weight: 600;
  color: $theme-color;
}

.text-content {
  font-size: $font-size-md;
  color: $extra-dark-gray;
  font-weight: 400;
}

.text-danger {
  font-size: $font-size-md;
  color: $red;
}

.text-delete {
  font-size: $font-size-md;
  color: $light-gray;
  text-decoration: line-through;
}
