@import "./color";

.text-theme {
  color: $theme-color !important;
}

.text-main-title {
  font-size: 24px; // font size of <Typography.Text level={3}/>
  font-weight: 600;
  color: $theme-color;
}

.text-content {
  font-size: 14px;
  color: $extra-dark-gray;
}
