// content
$content-margin-top: 30px;
$content-padding: 20px;

// side image
$side-image-width: 180px;

.content {
  margin-top: $content-margin-top;
  padding: $content-padding;
  background-color: white;
}

.side-image {
  width: $side-image-width;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
