@import "../../../src/scss/helpers/color";

// content
$content-margin-top: 30px;

// side image
$side-image-width: 180px;

.content {
  margin-top: $content-margin-top;
  background-color: white;
}

.side-image {
  width: $side-image-width;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-card {
  width: 33%;
  padding: 20px;
  margin-bottom: 60px;
}

.product-title {
  color: $secondary-color;
  font-size: 14px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  font-weight: 600;
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
}

.product-price {
  color: $extra-dark-gray;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-btn {
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}