@import "../../../src/scss/helpers/color";
@import "../../../src/scss/helpers/dimension";

// main header
$main-header-height: 60px;

// top header
$top-header-height: 40px;

// title
$title-line-height: 64px;

// search input
$search-input-width: 400px;
$search-input-line-height: 64px;
$search-input-margin-top: 17px;
$search-input-margin-left: 37px;

.app-header {
  background: white !important;
}

.top-header {
  height: $top-header-height;
  line-height: $top-header-height;
  display: block;
  background-color: $ultra-light-blue;
}

.top-header-box {
  display: flex;
  flex-direction: row-reverse;
  max-width: $primary-box-width;
  align-items: center;
  margin: auto;
}

.main-header-box {
  display: flex;
  max-width: $primary-box-width;
  align-items: center;
  margin: auto;
}

.main-header {
  width: 100%;
  height: $main-header-height;
  line-height: $main-header-height;
  margin: 0 auto;
}

.title {
  line-height: $title-line-height !important;
  display: inline;
  color: $purple !important;
}

.search-input {
  width: $search-input-width !important;
  line-height: $search-input-line-height;
  margin-top: $search-input-margin-top;
  margin-left: $search-input-margin-left;
}

.main-menu {
  background-color: white !important;
  color: $mid-gray !important;
  padding-left: 8% !important;
  padding-right: 8% !important;
  margin: auto;
}

.main-menu li:hover {
  color: $purple !important;
}

.main-menu li::after {
  position: absolute;
  right: 0px !important; // overwrite ant-design settings
  left: 0px !important; // overwrite ant-design settings
  margin: auto !important;
  border-bottom: 2px solid $purple !important;
  transition: width 0.3s !important;
  content: "";
  width: 0;
}

.main-menu li:hover::after {
  width: 100%;
}
