@import "./scss/helpers/base";
@import "./scss/helpers/text";
@import "./scss/helpers/dimension";
@import "./scss/helpers/image";
@import "./scss/helpers/btn";

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
}